{{ ansible_managed | comment }}
# /etc/systemd/system/prometheus.service
# https://janakiev.com/blog/prometheus-setup-systemd/
# https://github.com/cloudalchemy/ansible-prometheus/blob/master/templates/prometheus.service.j2
# Take care with directory ownership and permissions.
# These two settings limit what can be read and written.
#   ProtectSystem=strict
#   User=prometheus

[Unit]
Description=Prometheus
After=network-online.target
Requires=local-fs.target
After=local-fs.target

[Service]
Type=simple
User=prometheus
Group=prometheus
ExecReload=/bin/kill -HUP $MAINPID
ExecStart={{ prometheus_exec_dir }}/prometheus  \
  --config.file={{ prometheus_config_dir }}/prometheus.yml  \
  --storage.tsdb.path={{ prometheus_data_dir }}  \
  --storage.tsdb.retention.time=30d       \
  --web.config.file={{ prometheus_config_dir }}/web.yml  \
  --web.console.libraries={{ prometheus_config_dir }}/console_libraries  \
  --web.console.templates={{ prometheus_config_dir }}/consoles  \
  --web.listen-address={{ prometheus_web_listen_address }}

# https://www.freedesktop.org/software/systemd/man/latest/systemd.exec.html
CapabilityBoundingSet=CAP_SET_UID
LimitNOFILE=65000
LockPersonality=true
NoNewPrivileges=true
MemoryDenyWriteExecute=true
PrivateDevices=true
PrivateTmp=true
ProtectHome=true
ReadWritePaths={{ prometheus_data_dir }}
ReadWriteDirectories={{ prometheus_data_dir }}
RemoveIPC=true
RestrictSUIDSGID=true
PrivateUsers=true
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=strict
SyslogIdentifier=prometheus
# Restart=always

[Install]
WantedBy=multi-user.target
