<VirtualHost *:{{ apache_port }}>
   ServerAdmin webmaster@localhost
   ServerName {{ apache_host }}
   ServerAlias www.{{ apache_host }}
   DocumentRoot /var/www/{{ apache_host }}
   ErrorLog     /var/log/httpd/{{ apache_host }}-error.log
   CustomLog    /var/log/httpd/{{ apache_host }}-access.log combined
</VirtualHost>

