{{ ansible_managed | comment }}
# https://janakiev.com/blog/prometheus-setup-systemd/

[Unit]
Description=Prometheus
After=network-online.target
Requires=local-fs.target
After=local-fs.target

[Service]
Type=simple
User=prometheus
Group=prometheus
ExecReload=/bin/kill -HUP $MAINPID
ExecStart={{ prometheus_binary_dir }}/prometheus  \
  --config.file={{ prometheus_config_dir }}/prometheus.yml  \
  --storage.tsdb.path={{ prometheus_db_dir }}  \
  --storage.tsdb.retention.time=30d       \
  --web.config.file={{ prometheus_config_dir }}/web.yml  \
  --web.console.libraries={{ prometheus_config_dir }}/console_libraries  \
  --web.console.templates={{ prometheus_config_dir }}/consoles  \
  --web.listen-address={{ prometheus_web_listen_address }}

{% if http_proxy is defined %}
Environment="HTTP_PROXY={{ http_proxy }}"{% if https_proxy is defined %} "HTTPS_PROXY={{ https_proxy }}{% endif %}"
{% endif %}

# https://www.freedesktop.org/software/systemd/man/latest/systemd.exec.html#SyslogIdentifier=
# SyslogIdentifier=prometheus
Restart=always

[Install]
WantedBy=multi-user.target
