# prometheus.yml
# https://prometheus.io/docs/prometheus/latest/configuration/configuration/
# https://github.com/prometheus/prometheus/blob/release-2.48/documentation/examples/prometheus.yml
# https://github.com/prometheus/prometheus/blob/release-2.48/config/testdata/conf.good.yml

# my global config
global:
  scrape_interval: 15s # Set the scrape interval to every 15 seconds. Default is every 1 minute.
  evaluation_interval: 15s # Evaluate rules every 15 seconds. The default is every 1 minute.
  # scrape_timeout is set to the global default (10s).

# Alertmanager configuration
alerting:
  alertmanagers:
    - static_configs:
        - targets:
          # - alertmanager:9093

# Load rules once and periodically evaluate them according to the global 'evaluation_interval'.
rule_files:
  # - "first_rules.yml"
  # - "second_rules.yml"

# A scrape configuration containing exactly one endpoint to scrape:
# Here it's Prometheus itself.
scrape_configs:
  # The job name is added as a label `job=<job_name>` to any timeseries scraped from this config.
  - job_name: "prometheus"
    # metrics_path defaults to '/metrics'
    # scheme defaults to 'http'.
    scheme: https
    static_configs:
      - targets: ["localhost:9091"]
    tls_config:
      insecure_skip_verify: true
      ca_file:  /etc/prometheus/ca-certificate.pem
    basic_auth:
      username: admin
      password: 'Password;1'

# automation metrics provided by Ansible Automation Platform 
# Requires a read token. 
# Create one at https://your-aap-controller.example.com/#/users/1/tokens
# This one talks encrypted HTTPS.
#   - job_name: 'aap'
#     metrics_path: /api/v2/metrics
#     scrape_interval: 30s
#     scheme: https
#     bearer_token: AHb2dSGjwuFw8JvhMHSeFBtZq15yYn
#     static_configs:
#       - targets:
#         - your-aap-controller.example.com

# hardware and kernel metrics provided by node_exporter
# This one talks plain HTTP.
#   - job_name: 'myhost_example_com'
#     static_configs:
#       - targets:
#         - myhost.example.com:9100
